.h1{
    color: red;
}
.h2{
    color: blue;
}
.hi{ 
    height: 400px;
    width: 150px;
    background-color: black;
}
.div{
     /* border: 2px solid rgb(85, 7, 7); */
     height: 100px;
     width: 100px;
     background-color: rgb(191, 1, 1);
     border-radius: 50px;
}
.div1{
     /* border: 2px solid rgb(85, 7, 7); */
     height: 100px;
     width: 100px;
     background-color: yellow;
     border-radius: 50px;
}
.div2{
     /* border: 2px solid rgb(85, 7, 7); */
     height: 100px;
     width: 100px;
     background-color: green;
     border-radius: 50px;
}
