

.hoo{
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 8, 132);
    color: aliceblue;
    padding: 10px;
}
.list{
    display: flex;
    gap: 20px;
}
.list li{
    list-style: none;
}
a{
    text-decoration: dotted;
    color: aliceblue;
}
a:hover{
    color: pink;
}

